.audio-player-custom {
  --primary: oklch(0.511 0.096 186.391);

  border: unset;
  box-shadow: unset;
  background: transparent;
  
  .rhap_main-controls {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid var(--primary);
      background: transparent;
      color: var(--primary);
    }
  }
  .rhap_volume-controls {
    svg {
      color: var(--primary);
    }
    .rhap_volume-bar {
      margin-right: 10px;
      .rhap_volume-indicator,
      .rhap_volume-filled {
        background: var(--primary);
      }
    }
  }
  .rhap_progress-bar {
    .rhap_progress-indicator,
    .rhap_progress-filled {
      background: var(--primary);
    }
  }
}

.audio-player-mobile {
  .rhap_progress-section {
    flex: 0;
  }
  .rhap_controls-section {
    flex: 1
  }
}